<div style="position: fixed; bottom:0">
    <button type="button" class="btn btn-primary" onclick="location.href = '/'">Login Cookie</button>
    <button type="button" class="btn btn-primary" onclick="location.href = '/loginjwt'">Login JWT</button>
    <button type="button" class="btn btn-primary" onclick="location.href = '/loginsession'">Login Session</button>
    <button type="button" class="btn btn-success" onclick="location.href = '/register'">Register</button>
    <button type="button" class="btn btn-danger" onclick="location.href = '/logout'">Logout</button>
    <p class="text-center text-muted">© Copyright 2021, Martin Gratt</p>
</div>
