<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My very insecure app</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys">Jerseys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys/myjerseys">Broken Authentication Cookies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys/myjerseyssession">Broken Authentication Session</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys/myjerseysjwt">Broken Authentication JWT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Broken Access Control</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addJersey">Add jersey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/insecure_deserialization">Insecure Deserialization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/terms_and_conditions">Path Traversal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ping">Ping</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/xxe">Add Jersey XML</a>
        </li>

    </ul>
</nav>
