<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error 404 - Page not found!</title>
</head>
<body>

<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Error 404</h1>
<p>Could not load page!</p>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>