<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<head>
    <%- include('../partials/head'); %>
</head>

<header>
    <%- include('../partials/header'); %>
</header>
<h1>About</h1>
<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>