<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My very insecure app</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys">Jerseys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys/myjerseys">Broken Access Control 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin">Broken Access Control 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addJersey">Add jersey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/insecure_deserialization">Insecure Deserialization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/terms_and_conditions">Path Traversal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ping">Ping</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/xxe">Add Jersey XML</a>
        </li>
    </ul>
</nav>

<div class="container1">

    <h1>Add jersey XML</h1>

    <form action="http://localhost:8888/jerseys/xml" method="post">
        <div class="form-group">
            <label for="xml">XML</label>
            <input class="form-control" id="xml" name ="xml" placeholder="Juventus Turin">
        </div>
        <div>
            <button id="button1" class="btn btn-primary">Submit</button>
        </div>

    </form>
</div>

</body>
</html>