<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <%- include('../partials/head'); %>

</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Index Site</h1>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>