<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My very insecure app</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jerseys">Jerseys</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/addJersey">Add jersey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/insecure_deserialization">Insecure Deserialization</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/terms_and_conditions">Path Traversal</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/ping">Ping</a>
        </li>
    </ul>
</nav>

<div>
    <h1>Terms and Conditions</h1>
    <p>Please read our terms and conditions</p>
    <a class="nav-link" href="/path_traversal?fileName=/public/sample.pdf">Terms and Condtions</a>

</div>
</body>
</html>