<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unauthorized!</title>
    <%- include('../partials/head'); %>
</head>
<body>

<header>
    <%- include('../partials/header'); %>
</header>

<h1>Unauthorized</h1>
<p>You are not authorized to perform this action!</p>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>